<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an atrribute "name" that has a value of "MyDB".
    -->
    <connectionStrings>
      <add name="LocalCom_Main" 
        connectionString="Database=LocalCom_Main;Data Source=LA3SQL01.epilotcolo.eliberation.com\TonyStark;User ID=web_user;Password=epilot2001" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
		<add name="Apollo"
		  connectionString="Database=Apollo;Data Source=LA3SQL01.epilotcolo.eliberation.com\TonyStark;User ID=web_user;Password=epilot2001"
		  xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
		<add name="LDS_Master"
			 connectionString="Database=LDS_Master;Data Source=LA3SQL03\PeterParker;User ID=web_user;Password=epilot2001"
			 xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
	</connectionStrings>
  
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your Web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>