 <div style="width:800px" >
<form  ng-submit="addsite()">


 <div class="modal-body sites">
     <div>
         <label>Site Name</label>
         <input type="text" ng-model="selectedSite.name" />
     </div>
     <div>
         <label>Display Name</label>
         <input type="text" ng-model="selectedSite.displayname" />
     </div>
     <div>
         <label>Description</label>
         <textarea ng-model="selectedSite.description" />
     </div>
     <div>
         <label>Host Name</label>
         <input type="text" ng-model="selectedSite.hostname" />
     </div>
     <div>
         <label>Default Location</label>
         <input type="text" ng-model="selectedSite.defaultlocation" />
     </div>
     <div>
         <label>Default State</label>
         <select ng-model="selectedSite.defaultstate"></select>
     </div>
     <div>
         <label>Geoip</label>
         <input type="checkbox" ng-model="selectedSite.geoip" />
     </div>
     <div>
         <label>Partner Id</label>
         <input type="text" ng-model="selectedSite.partnerid" />
     </div>
     <div>
         <label>Site Id</label>
         <input type="text" ng-model="selectedSite.partnersiteid" />
     </div>
<!--     <div class="sitelayout">
         <div id="select">
             <fieldset name="Layout" title="Layout">
                 <legend>Layout</legend>
                 <div>
                     <input type="radio" value="exsiting" name="radio_layout" ng-model="selectedSite.radio_layout" />
                     <label>Select Existing Layout</label>
                     <select ng-model="selectedSite.layout"></select>
                 </div>
                 <div>
                     <input type="radio" value="new" name="radio_layout" ng-model="selectedSite.radio_layout" />
                     <label>
                         Add new Layout</label>
                     <input type="text" ng-model="selectedSite.newlayout" />
                 </div>

             </fieldset>
         </div>

         <div>
             <label>Head</label>
             <textarea ng-model="selectedSite.head"></textarea>
         </div>
         <div>
             <label>Header</label>
             <textarea ng-model="selectedSite.header"></textarea>
         </div>
         <div>
             <label>Footer</label>
             <textarea ng-model="selectedSite.footer"></textarea>
         </div>
         <div>
             <label>Tracking</label>
             <textarea ng-model="selectedSite.tracking"></textarea>
         </div>
     </div>-->
 </div>

   

 <div ng-controller="LayoutAccordion">
  <accordion close-others="oneAtATime">
    <accordion-group  is-open="status.isFirstOpen" is-disabled="status.isFirstDisabled">
                <div class="sitelayout">
<!--         <div id="Div1">
             <fieldset name="Layout" title="Layout">
                 <legend>Layout</legend>
                 <div>
                     <input type="radio" value="exsiting" name="radio_layout" ng-model="selectedSite.radio_layout" />
                     <label>Select Existing Layout</label>
                     <select ng-model="selectedSite.layout"></select>
                 </div>
                 <div>
                     <input type="radio" value="new" name="radio_layout" ng-model="selectedSite.radio_layout" />
                     <label>
                         Add new Layout</label>
                     <input type="text" ng-model="selectedSite.newlayout" />
                 </div>

             </fieldset>
         </div>-->

<!--                     <form> 
      <label for="first">Show first content</label>
      <input id="first" type="radio" name="content" ng-model="content" value="first">
      <br />
      <label for="other">Show other content</label>
      <input id="other" type="radio" name="content" ng-model="content" value="other">
    </form>-->
    
                    
<div>
    <input name="layout" type="radio" ng-model='content' value="existing" > Select Existing Layout<br>
    <input name="layout" type="radio" ng-model='content' value="new" > Add new Layout<br>
</div>
    <div class="wrapper">
      <p ng-show="content == 'Existing'">This is the first content!</p>
        <div ng-show="content == 'new'">
            
         <div>
             <label>Head</label>
             <textarea ng-model="selectedSite.head"></textarea>
         </div>
         <div>
             <label>Header</label>
             <textarea ng-model="selectedSite.header"></textarea>
         </div>
         <div>
             <label>Footer</label>
             <textarea ng-model="selectedSite.footer"></textarea>
         </div>
         <div>
             <label>Tracking</label>
             <textarea ng-model="selectedSite.tracking"></textarea>
         </div>
     </div>

        </div>
    </div>
        <accordion-heading>
            Layout <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
        </accordion-heading>


              <br>

    </accordion-group>
   <!-- <accordion-group heading="{{group.title}}" ng-repeat="group in groups">
      {{group.content}}
    </accordion-group>
    <accordion-group heading="Dynamic Body Content">
      <p>The body of the accordion group grows to fit the contents</p>
        <button class="btn btn-default btn-sm" ng-click="addItem()">Add Item</button>
        <div ng-repeat="item in items">{{item}}</div>
    </accordion-group>
    <accordion-group is-open="status.open">
        <accordion-heading>
        </accordion-heading>
        This is just some content to illustrate fancy headings.
    </accordion-group>
  </accordion>
     </div>

        <div>
    <input name="test" type="radio" ng-model='myModel' value="Left" > Left<br>
    <input name="test" type="radio" ng-model='myModel' value="Middle" > Middle<br>
    <input name="test" type="radio" ng-model='myModel' value="Right" > Right<br>    
</div>

<hr>

<buttons-radio class="btn-group" data--->
      <!--toggle="buttons" model='myModel' options='myOptions'></buttons-radio>-->







    <button type="submit" class="btn btn-success btn-lg btn-block">
        <span class="glyphicon glyphicon-flash"></span>Submit!
    </button>
<!--    <div ng-controller="ModalInstanceCtrl">    <a ng-click="addsite()">add site</a></div>-->


</form>
</div>



