@{

    PageData["title"] = "Managed Network Admin | Home";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>



<body>


    <div class="homeMiddle" ng-app="app" ng-controller="HomeCtrl">
    <div class="homeMiddle" ng-app="app" ng-controller="mainController">


 <div class="container">
      <div class="row">
        <mytabset>
            <mytab title="Tab 1" template-url="/views/Template/Tab1.html"></mytab>
            <mytab title="Tab 2" template-url="/views/Template/Tab2.html"></mytab>
            <mytab title="Tab 3" template-url="/views/Template/Tab3.html"></mytab>
        </mytabset>
      </div>
    </div>
    </div>


@*    <script src="components/angular/angular.js"></script>
    <script src="scripts/directives/tabset.js"></script>


    <script src="scripts/app.js"></script>
    <script src="scripts/controllers/FirstTabCtrl.js"></script>
    <script src="scripts/controllers/SecondTabCtrl.js"></script>
    <script src="scripts/controllers/ThirdTabCtrl.js"></script>*@


@*<div ng-app="app" ng-controller="mainController">

    <tabset>
        <tab 
            ng-repeat="t in tabs" 
            heading="{{t.heading}}"
            select="go(t.route)"
            active="t.active">
        </tab>
    </tabset>

    <h2>View:</h2>
    <div ui-view></div>

</div>*@


    </div>
    @*<div class="row">
            <form class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4" ng-submit="login(userName, password)">
                <h2 class="text-center">Home</h2>
                <div class="form-box">
                    <div class="form-group">
                        <input ng-model="userName" type="text" class="form-control" placeholder="Username or Email" required autofocus />
                    </div>
                    <div class="form-group">
                        <input ng-model="password" type="password" class="form-control" placeholder="Password" required />
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary btn-block" type="submit" ng-disabled="!(userName && password)" disabled>Sign In</button>
                    </div>
                </div>
            </form>
        </div>
    *@
</body>

</html>
